<!-- 桌電版 -->
<div class="d-none d-lg-block">
  <div class="container pt-lg-10 pb-lg-4">
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-3 px-lg-10 py-lg-4">
      <div class="container-fluid">
        <a class="navbar-brand me-6" href="index.html"
          ><img
            src="../assets/images/logo.png"
            alt="LEARNING"
            class="logo-size"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex justify-content-between w-100">
            <ul
              class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center"
            >
              <li class="nav-item dropdown position-static">
                <a
                  class="nav-link dropdown-toggle px-6"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  探索
                </a>

                <div
                  class="dropdown-menu dropdown-menu-desktop py-0 border-0 overflow-hidden"
                >
                  <div class="d-flex">
                    <!-- 選單1 -->
                    <ul
                      class="dropdown-menu-1 list-unstyled bg-neutral-40 px-3 py-2"
                    >
                      <li class="mb-2">
                        <a class="dropdown-item dropdown-item-all" href="#"
                          >探索全部</a
                        >
                      </li>
                      <li><a class="dropdown-item" href="#">音樂</a></li>
                      <li><a class="dropdown-item" href="#">攝影</a></li>
                      <li>
                        <a class="dropdown-item active" href="#">程式</a>
                      </li>
                      <li><a class="dropdown-item" href="#">藝術</a></li>
                      <li><a class="dropdown-item" href="#">人文</a></li>
                      <li><a class="dropdown-item" href="#">攝影</a></li>
                      <li><a class="dropdown-item" href="#">行銷</a></li>
                      <li><a class="dropdown-item" href="#">投資理財</a></li>
                      <li><a class="dropdown-item" href="#">心靈成長</a></li>
                      <li><a class="dropdown-item" href="#">職場技能</a></li>
                      <li><a class="dropdown-item" href="#">生活品味</a></li>
                    </ul>
                    <!-- 選單2 -->
                    <ul class="dropdown-menu-2 list-unstyled px-3 py-2">
                      <li class="mb-2">
                        <a class="dropdown-item dropdown-item-all" href="#"
                          >所有程式</a
                        >
                      </li>
                      <li><a class="dropdown-item" href="#">程式入門</a></li>
                      <li><a class="dropdown-item" href="#">網頁前端</a></li>
                      <li>
                        <a class="dropdown-item active" href="#">網頁後端</a>
                      </li>
                      <li><a class="dropdown-item" href="#">網站架設</a></li>
                      <li><a class="dropdown-item" href="#">資訊安全</a></li>
                      <li><a class="dropdown-item" href="#">程式語言</a></li>
                      <li><a class="dropdown-item" href="#">遊戲開發</a></li>
                      <li><a class="dropdown-item" href="#">資料科學</a></li>
                    </ul>
                    <!-- 選單3 -->
                    <div class="dropdown-menu-3 list-unstyled px-6 py-2">
                      <h2
                        class="fs-7 text-neutral-80 d-flex align-items-center border-bottom border-neutral-40 pb-4"
                      >
                        <img
                          src="../assets/images/icons/ic_fire.png"
                          alt=""
                          width="24"
                          class="me-2"
                        />熱門網頁前端課程
                      </h2>
                      <ul class="list-unstyled">
                        <li
                          class="d-flex border-bottom border-neutral-200 pt-3 pb-4"
                        >
                          <div class="position-relative">
                            <img
                              src="../assets/images/course-5.png"
                              alt=""
                              class="object-fit-cover me-2 rounded overflow-hidden"
                              style="width: 100px; height: 100px"
                            />
                            <p
                              class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-alert-10 text-alert rounded-pill text-nowrap fs-8"
                            >
                              8 折
                            </p>
                          </div>
                          <div>
                            <h3 class="fs-7 mb-3">
                              小白也會！從零開始學習 Python 程式設計
                            </h3>
                            <div
                              class="d-flex justify-content-between border-bottom border-neutral-200 pb-2"
                            >
                              <div class="d-flex align-items-center">
                                <img
                                  src="../assets/images/avatar-2.png"
                                  alt=""
                                  width="32"
                                  class="me-2"
                                />
                                <h4 class="fs-7 text-neutral-80 fw-normal">
                                  Kelly Hsu
                                </h4>
                              </div>
                              <div>
                                <p class="text-primary fw-bold">NT$ 2,480</p>
                                <p class="text-neutral-60 fs-9 text-end">
                                  <del> NT$ 3,200</del>
                                </p>
                              </div>
                            </div>
                            <div
                              class="d-flex justify-content-between py-2 fs-8"
                            >
                              <p class="fs-8 text-neutral-80">
                                已有 420 位同學加入
                              </p>
                              <p class="d-flex align-items-center">
                                <span
                                  class="material-symbols-outlined icon-star fs-7"
                                >
                                  star </span
                                ><span>4.0</span>(333)
                              </p>
                            </div>
                          </div>
                        </li>
                        <li
                          class="d-flex border-bottom border-neutral-200 pt-3 pb-4"
                        >
                          <div class="position-relative">
                            <img
                              src="../assets/images/course-5.png"
                              alt=""
                              class="object-fit-cover me-2 rounded overflow-hidden"
                              style="width: 100px; height: 100px"
                            />
                            <p
                              class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-alert-10 text-alert rounded-pill text-nowrap fs-8"
                            >
                              8 折
                            </p>
                          </div>
                          <div>
                            <h3 class="fs-7 mb-3">
                              小白也會！從零開始學習 Python 程式設計
                            </h3>
                            <div
                              class="d-flex justify-content-between border-bottom border-neutral-200 pb-2"
                            >
                              <div class="d-flex align-items-center">
                                <img
                                  src="../assets/images/avatar-2.png"
                                  alt=""
                                  width="32"
                                  class="me-2"
                                />
                                <h4 class="fs-7 text-neutral-80 fw-normal">
                                  Kelly Hsu
                                </h4>
                              </div>
                              <div>
                                <p class="text-neutral-60 fw-bold text-end">
                                  已購買
                                </p>
                                <p class="text-neutral-60 fs-9 text-end">
                                  <del> NT$ 3,200</del>
                                </p>
                              </div>
                            </div>
                            <div
                              class="d-flex justify-content-between py-2 fs-8"
                            >
                              <p class="fs-8 text-neutral-80">
                                已有 420 位同學加入
                              </p>
                              <p class="d-flex align-items-center">
                                <span
                                  class="material-symbols-outlined icon-star fs-7"
                                >
                                  star </span
                                ><span>4.0</span>(333)
                              </p>
                            </div>
                          </div>
                        </li>
                        <li
                          class="d-flex border-bottom border-neutral-200 pt-3 pb-4"
                        >
                          <div class="position-relative">
                            <img
                              src="../assets/images/course-5.png"
                              alt=""
                              class="object-fit-cover me-2 rounded overflow-hidden"
                              style="width: 100px; height: 100px"
                            />
                            <p
                              class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-alert-10 text-alert rounded-pill text-nowrap fs-8"
                            >
                              8 折
                            </p>
                          </div>
                          <div>
                            <h3 class="fs-7 mb-3">
                              小白也會！從零開始學習 Python 程式設計
                            </h3>
                            <div
                              class="d-flex justify-content-between border-bottom border-neutral-200 pb-2"
                            >
                              <div class="d-flex align-items-center">
                                <img
                                  src="../assets/images/avatar-2.png"
                                  alt=""
                                  width="32"
                                  class="me-2"
                                />
                                <h4 class="fs-7 text-neutral-80 fw-normal">
                                  Kelly Hsu
                                </h4>
                              </div>
                              <div>
                                <p class="text-primary fw-bold">NT$ 2,480</p>
                                <p class="text-neutral-60 fs-9 text-end">
                                  <del> NT$ 3,200</del>
                                </p>
                              </div>
                            </div>
                            <div
                              class="d-flex justify-content-between py-2 fs-8"
                            >
                              <p class="fs-8 text-neutral-80">
                                已有 420 位同學加入
                              </p>
                              <p class="d-flex align-items-center">
                                <span
                                  class="material-symbols-outlined icon-star fs-7"
                                >
                                  star </span
                                ><span>4.0</span>(333)
                              </p>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <form class="position-relative" role="search">
                  <span
                    class="material-symbols-outlined position-absolute top-50 start-0 translate-middle-y ms-2"
                  >
                    search
                  </span>
                  <input
                    class="form-control ps-10 nav-placeholder"
                    type="search"
                    placeholder="搜尋各種音樂、數學、程式及設計課程"
                    aria-label="Search"
                  />
                  <button
                    class="btn btn-primary position-absolute top-50 end-0 translate-middle-y me-2"
                    type="submit"
                  >
                    搜尋
                  </button>
                </form>
              </li>
            </ul>
            <div class="d-flex align-items-center">
              <!-- 訊息提示鈴 -->
              <div class="dropdown position-static">
                <button
                  type="button"
                  class="btn position-relative p-0 me-6 me-xxl-10"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <span class="material-symbols-outlined"> notifications </span>
                  <span
                    class="position-absolute top-0 start-100 translate-middle p-1 bg-primary border border-light rounded-circle"
                  >
                    <span class="visually-hidden">New alerts</span>
                  </span>
                </button>
                <ul class="dropdown-menu dropdown-menu-message overflow-hidden">
                  <li>
                    <a
                      class="dropdown-item dropdown-item-all link-primary d-flex justify-content-end align-items-center rounded-0"
                      href="#"
                      ><span
                        class="material-symbols-outlined check-circle me-2"
                      >
                        check_circle </span
                      >全部標記為已讀</a
                    >
                  </li>
                  <li class="bg-neutral-40">
                    <a
                      class="dropdown-item dropdown-item-alert rounded-0 px-4 py-3"
                      href="#"
                    >
                      <div class="d-flex align-items-center">
                        <span
                          class="material-symbols-outlined text-info bg-info-10 fs-5 p-2 rounded-circle"
                        >
                          campaign
                        </span>
                        <div class="ms-4">
                          <p class="text-wrap text-neutral-80 mb-2">
                            系統通知：6 月 30 日 02:00 網站系統排程更新
                          </p>
                          <p class="text-neutral-60">4 天前</p>
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="bg-white">
                    <a
                      class="dropdown-item dropdown-item-alert rounded-0 px-4 py-3"
                      href="#"
                    >
                      <div class="d-flex align-items-center">
                        <span
                          class="material-symbols-outlined text-alert bg-alert-10 fs-5 p-2 rounded-circle"
                        >
                          notifications_active
                        </span>
                        <div class="ms-4">
                          <p class="text-wrap text-neutral-80 mb-2">
                            募資開課：您購買的募資課程已成功開課！將於 3
                            天後公布課...
                          </p>
                          <p class="text-neutral-60">7 天前</p>
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="bg-neutral-40">
                    <a
                      class="dropdown-item dropdown-item-alert rounded-0 px-4 py-3"
                      href="#"
                    >
                      <div class="d-flex align-items-center">
                        <span
                          class="material-symbols-outlined text-alert bg-alert-10 fs-5 p-2 rounded-circle"
                        >
                          notifications_active
                        </span>
                        <div class="ms-4">
                          <p class="text-wrap text-neutral-80 mb-2">
                            募資開課：您購買的募資課程已成功開課！將於 3
                            天後公布課...
                          </p>
                          <p class="text-neutral-60">8 天前</p>
                        </div>
                      </div></a
                    >
                  </li>
                </ul>
              </div>

              <!-- 購物車圖示 -->
              <button
                type="button"
                class="btn position-relative p-0 me-5 me-xxl-7"
              >
                <span class="material-symbols-outlined"> shopping_cart </span>
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary"
                >
                  2
                  <span class="visually-hidden">unread messages</span>
                </span>
              </button>

              <button class="btn btn-primary px-8">
                <a href="register.html"> 登入 / 註冊</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

<!-- 手機版 -->
<div class="d-lg-none">
  <nav class="navbar navbar-expand-lg bg-body-tertiary p-3 px-lg-10 py-lg-4">
    <div class="container-fluid">
      <a class="navbar-brand me-6" href="index.html"
        ><img src="../assets/images/logo.png" alt="LEARNING" class="logo-size"
      /></a>
      <div class="d-flex justify-content-end align-items-center">
        <button type="button" class="btn position-relative p-0 me-6">
          <span class="material-symbols-outlined"> notifications </span>
          <span
            class="position-absolute top-0 start-100 translate-middle p-1 bg-primary border border-light rounded-circle"
          >
            <span class="visually-hidden">New alerts</span>
          </span>
        </button>
        <button type="button" class="btn position-relative p-0 me-5">
          <span class="material-symbols-outlined"> shopping_cart </span>
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary"
          >
            2
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- 選單1 -->
        <ul class="list-unstyled px-3 py-2">
          <li class="mb-2">
            <a class="dropdown-item dropdown-item-all" href="#">探索全部</a>
          </li>
          <li><a class="dropdown-item" href="#">音樂</a></li>
          <li><a class="dropdown-item" href="#">攝影</a></li>
          <li>
            <a class="dropdown-item" href="#">程式</a>
          </li>
          <li><a class="dropdown-item" href="#">藝術</a></li>
          <li><a class="dropdown-item" href="#">人文</a></li>
          <li><a class="dropdown-item" href="#">攝影</a></li>
          <li><a class="dropdown-item" href="#">行銷</a></li>
          <li><a class="dropdown-item" href="#">投資理財</a></li>
          <li><a class="dropdown-item" href="#">心靈成長</a></li>
          <li><a class="dropdown-item" href="#">職場技能</a></li>
          <li><a class="dropdown-item" href="#">生活品味</a></li>
        </ul>
        <!-- 選單2 -->
        <ul class="list-unstyled px-3 py-2 d-none">
          <li class="mb-2">
            <a class="dropdown-item dropdown-item-all" href="#">所有程式</a>
          </li>
          <li><a class="dropdown-item" href="#">程式入門</a></li>
          <li><a class="dropdown-item" href="#">網頁前端</a></li>
          <li>
            <a class="dropdown-item" href="#">網頁後端</a>
          </li>
          <li><a class="dropdown-item" href="#">網站架設</a></li>
          <li><a class="dropdown-item" href="#">資訊安全</a></li>
          <li><a class="dropdown-item" href="#">程式語言</a></li>
          <li><a class="dropdown-item" href="#">遊戲開發</a></li>
          <li><a class="dropdown-item" href="#">資料科學</a></li>
        </ul>

        <div class="d-flex align-items-center mt-32">
          <button class="btn btn-primary w-100">登入 / 註冊</button>
        </div>
      </div>
    </div>
  </nav>
</div>
